
body{
    height: 100vh;
    height: -webkit-fill-available;
}

/* Main header styles */

.main-header{
    display: block;
    padding: 10px 0 0 0 ;
    position: relative;
    margin-top: 20px;
    height: 160px;
    font-size: 0rem;
    width: 100%;
}

.main-header > div{
    float: left;
}

.header-main__logo{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.header-main__logo img{
    width: 300px;
}

.main-header__languages{
    display: inline-block;
    width: 70%;
    text-align: right;
}

.main-header__flag{
    width: 50px;
    margin: 0 5px;
    border: black solid 1px;
}

.main-header__app{
    width: 100px;
    margin: 0 5px;
}

.main-header__languages a{
    text-decoration: none;
}

.main-navigation{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    left: 300px;
    top: 50px;
}

.main-navigation__item{
    display: inline-block;

}

.main-navigation__item a{
    color: #3F72AF;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin: 0 30px;
    letter-spacing: 1px;
}

.main-navigation__item a:hover{
    color: #112D4E; 
}

/* Main section styles */

.main-section{
    display: block;
    height: 400px;
    background-color: #3F72AF;
}

.main-section__type{
    text-align: center;
}

.main-section__type i{
    margin: 20px 5px 0 5px;
    color: white;
}

.main-section__type a{
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.main-section__type a:hover{
    color: white;
    border-bottom: white solid 2px;
}

.main-section__input{
    position: relative;
    display: inline-block;
    text-align: right;
    margin: 10px;
    width: 64%;
}

.main-section__search{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    vertical-align: middle;
}

.main-section__input-one{
    position: absolute;
    width: 110px;
    text-align: left;
    height: 105px;
    border: black solid 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    right: 280px;
}

.main-section__input-two{
    width: 280px;
    height: 105px;
    border: 5px black solid;
    border-left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}



.main-section__search h3{
    display: inline-block;
    color: white;
    font-weight: 400;
}

.main-section__search i{
    font-size: 30px;
    color: white;
    margin-left: 20px;
}

::-webkit-input-placeholder {
    position: absolute;
    color: grey;
    opacity: 1; /* Firefox */
    font-size: 60px;
    margin-top: 10px;
    top: -10px;
    left: 20px;
}


input[type=text] {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
  }
























/* @media only screen and (max-width: 768px) {
    .header-main__logo img{
        width: 180px;
    }

    .main-header__flag{
        width: 30px;
    }

    .main-header__languages{
        position: absolute;
        left: 230px;
    }
}

@media only screen and (max-width: 992px) {
    .main-navigation__item > a{
        font-size: 12px;
    }

    .main-navigation{
        margin-bottom: 20px;
        left: 0px;
        top: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .main-header__app{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .main-navigation{
        
    }
} */





